@import url("../fonts/montserrat/Montserrat.css");

// color variables
$background: #f7f7f7;
$white: #ffffff;
$dark-blue: #0086d1;
$blue: #02a3e5;
$light-blue: #03abf0;
$green: #02d420;
$black: #000000;
$font-black: #434343;
$grey: #5c5c5f;
$red: #fd324e;
$light-grey: #e8e8e8;
$lightest-grey: #f2f3f3;

// utils

.customer,
.seller {
  border-bottom: 1px solid $light-grey;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.btn-custom {
  background-color: $white;
  min-width: 13.5rem !important;
  height: auto;
  border-radius: 3px;
  border: none !important;
  outline: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-white {
  @extend .btn-custom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $blue;
  border: 1px solid $light-blue !important;
  margin-right: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 14rem !important;
  height: 3rem !important;
  padding: 0 4px !important;

  &:hover,
  &:focus {
    background-color: $white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 6px;
    color: $white;
    background-color: $light-blue;
  }
}

.i-box {
  width: 1rem;
  height: 2rem;
  display: inline-block;
  margin: 0 !important;

  &[class*="icon"] {
    width: 1.5rem;
    height: 2rem;
  }
}

.heading {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  font-style: normal;
  color: $grey;
}

.m-top-md {
  margin-top: 2.5rem;
}

.m-top-sm {
  margin-top: 1.5rem;
}

// icons
.link-icon,
.icon-home {
  display: inline-block;
  width: 1.5rem;
  height: 2.4rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-menu,
.icon-exit {
  @extend .link-icon;
  background-image: url(../img/icons/icon-menu.png);
  display: block;
  margin-right: 8px;
}

.icon-menu {
  width: 1.8rem;
}

.icon-exit {
  background-image: url(../img/icons/icon-exit.png);
}

.icon-arrow {
  @extend .link-icon;
  background: url(../img/icons/down-arrow.png) no-repeat center;
  background-size: 1.5rem;
  margin: 0 !important;
}

.head-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-home {
  @extend .link-icon;
  background-image: url(../img/icons/Shape_1.png);
}

.icon-table {
  @extend .link-icon;
  background-image: url(../img/icons/icon-timetable.png);
}

.icon-checklist {
  @extend .link-icon;
  background-image: url(../img/icons/icon-checklist.png);
}

.icon-sheet {
  @extend .link-icon;
  background-image: url(../img/icons/icon-sheet.png);
}

.icon-box {
  @extend .link-icon;
  background-image: url(../img/icons/icon-box.png);
}

.icon-msg {
  @extend .link-icon;
  background-image: url(../img/icons/icon-msg.png);
}

.icon-time {
  @extend .link-icon;
  background-image: url(../img/icons/icon-time.png);
}

.icon-procentage {
  @extend .link-icon;
  background-image: url(../img/icons/icon-procentage.png);
}

.icon-print {
  @extend .link-icon;
  background-image: url(../img/icons/icon-print.png);
}

.icon-refresh {
  @extend .link-icon;
  background-image: url(../img/icons/icon-refresh.png);
}

.btn-white:hover i,
.btn-white:focus i {
  -webkit-filter: brightness(1000) !important;
  filter: brightness(1000) !important;
}

// layout
body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
}

.main-wrapper {
  padding-left: 4rem;
  -webkit-transition: all 0.42s;
  transition: all 0.42s;
  background-color: $background;
}

// header

.header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-wrapper .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

// left menu
.left-menu-logo {
  display: block;
  width: 100%;
  height: 4.2rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  img {
    width: 160%;
    max-width: 7rem;
    display: block;
  }
}

.left-menu {
  width: 4rem;
  background: $white;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.17);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.17);
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &__item:not(:nth-child(odd)) {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.8rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: rgba($light-blue, 0.1);
      border-left-color: $blue;
      color: $light-blue;
    }

    &__heading {
      opacity: 0;
      height: 0;
      line-height: initial;
      margin-top: 0.5rem;
      font-size: 0px;
      margin: 0;
      -webkit-transition: opacity 0.2s, font-size 0.3s;
      transition: opacity 0.2s, font-size 0.3s;

      &.heading-show {
        opacity: 1;
        height: initial;
        font-size: 14px;
        -webkit-transition: opacity 0.2s, font-size 0.2s;
        transition: opacity 0.2s, font-size 0.2s;
      }
    }
  }
}

// main section
.main {
  width: 100%;
  min-height: 100vh;
}

.main-content {
  padding: 0 2.5rem;
}

.main-content-top {
  .btn-custom {
    background-image: -webkit-gradient(linear, right top, left top, from(#0084cf), to(#00d4ff));
    background-image: linear-gradient(to left, #0084cf 0%, #00d4ff 100%);
  }
}

// collapsible tabs

.collapsible {
  border-radius: 6px;
}

.tab-heading {
  font-size: 2rem;
  color: $blue;
  font-weight: 600;
  font-style: normal;
}

.tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0;
  height: 4rem;
  -webkit-box-shadow: 0 0 23px rgba(1, 39, 54, 0.16);
  box-shadow: 0 0 23px rgba(1, 39, 54, 0.16);
}

.tab-header-left,
.tab-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% + 1px);
}

.tab-info {
  color: $grey;
  padding: 0 1rem;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($grey, 0.14);
  }
}

.tab-info.data-icon {
  padding-left: 2rem;
  background: url(../img/icons/icon-table-sm.png) no-repeat 0.2rem;
}

.tab-header-left {
  .tab-info:not(:last-child) {
    border-right: 1px solid $light-grey;
  }
}

.tab-header-right {
  .tab-info {
    border-right: 1px solid $light-grey;
  }
}

.tab-satus {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: -1px;
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 12rem;
  padding-left: 2rem;

  & span {
    margin-left: 2rem;
  }

  //js
  background: url(../img/icons/icon-circle-white.svg) no-repeat 1.2rem /1.8rem,
  -webkit-gradient(linear, left top, left bottom, color-stop(1%, $green), to($green));
  background: url(../img/icons/icon-circle-white.svg) no-repeat 1.2rem /1.8rem,
  linear-gradient($green 1%, $green 100%);
  color: $white;
}

.tab-trigger {
  background: $dark-blue;
  margin: 0 1rem;
  display: block;
  width: 32.4px;
  min-width: 32.4px;

  &:hover,
  &:focus {
    background: lighten($color: $dark-blue, $amount: 5);
  }

  &__active {
    background: $red !important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.collapsible-body {
  background: $white;
}

.tab-body-block {
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.11);
  padding: 1rem;
  border-radius: 2px;
  min-height: 12.5rem;

  div {
    // color: $grey;
    letter-spacing: 0.13px;
    color: #434343;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-family: "Montserrat";
  }

  .name-info {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    color: $font-black;
  }

  .grey-info {
    font-size: 14px;
    color: $grey;
  }
}

// Tables

.responsive-table {
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
  border: 2px;
}

.table-heading {
  margin-bottom: 0.5rem;
}

.table-heading {
  font-weight: 700;
  font-size: 17px;
  color: $font-black;
}

.table-top {
  th {
    color: $font-black;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
}

.table-body {
  td {
    font-size: 14px;
    font-weight: 500;
    color: $grey;
  }
}

.table-footer {
  td {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: $font-black;
  }
}

.buttons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .btn-white {
    margin: 0 0 1rem 1rem;
  }
}

.table-vehicle {
  &__part {
    background: #03abf0;
  }
}

.vehicle-head {
  background-color: $lightest-grey;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

.train-block {
  margin-top: 1.5rem;

  .vehicle-part {
    // background: $lightest-grey;
    border-bottom: 1px solid $light-grey;
  }
}

.vehicle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0 0;
  border-bottom: 2px dotted lighten($color: $grey, $amount: 50);

  .info-left,
  .info-right {
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-size: normal;
    margin-bottom: -6px;
    background: #ffffff;
  }

  .info-right {
    font-size: 15px;
    font-weight: 500;
  }
}

.driver-info {
  margin-top: 1rem;
  text-align: center;

  .driver-name,
  .driver-phone {
    display: block;
  }

  .driver-name {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: $font-black;
  }

  .driver-phone {
    margin-top: 1rem;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    color: $blue;
  }
}

// Js classes
.pushContent {
  padding-left: 14rem;
}

.showLeftMenu {
  width: 14rem;
}

.showLeftMenu .hide {
  display: none;
}

.hide {
  display: none;
}

.material-tooltip {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear,
      right top, left top,
      color-stop(15%, rgba(#0084cf, 0.8)),
      to(rgba(#00d4ff, 0.82)));
  background: linear-gradient(to left,
      rgba(#0084cf, 0.8) 15%,
      rgba(#00d4ff, 0.82) 100%);
  font-size: 14px;
}

//meadia

@media only screen and (max-width: 993.3px) {
  .driver-info {
    margin-top: 4rem;
  }

  .table-footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 760px) {
  .tab-satus {
    width: 4.5rem;
    min-width: 2.5rem;
    padding: 0;

    span {
      margin: 0;
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .showLeftMenu {
    position: absolute;
  }

  .pushContent {
    padding-left: 0;
  }

  .pushContent .header {
    padding-left: 14rem;
  }

  .main-content {
    padding: 0 0.2rem;
  }

  .main-content-top .btn-custom {
    float: none !important;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .tab-body-block .name-info {
    font-size: 16px;
  }

  .tab-body-block div {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .tab-satus {
    background: url(../img/icons/icon-circle-white.svg) no-repeat center / 1.5rem,
      -webkit-gradient(linear, left top, left bottom, color-stop(1%, #02d420), to(#02d420));
    background: url(../img/icons/icon-circle-white.svg) no-repeat center / 1.5rem,
      linear-gradient(#02d420 1%, #02d420 100%);
  }

  .collapsible-body {
    padding: 0.5rem;
  }

  .tab-body-block {
    padding: 0.5rem;
  }

  .table-heading {
    font-size: 15px;
  }

  .table-top {
    tr {
      padding: 0 !important;
    }

    th {
      text-align: left !important;
      font-size: 12px;
    }
  }

  .tab-trigger {
    width: 13px !important;
    min-width: 1.6rem;
    height: 1.6rem !important;
    margin: 0 0.5rem;

    .icon-arrow {
      width: 1.1rem;
      height: 1.2rem;
      background-size: contain;
    }
  }
}